<div class="order-browse">
    <div class="card">
        <div class="card-header clearfix">                                
            <ul class="order-list-type d-flex float-left">
                <li ng-if="SysPermission.showRechargequery()" class="list-item" ui-sref-active="active"><a ui-sref="rechargerecord.querylist">充值查询</a></li>
                <li ng-if="SysPermission.showRechargeprocess()" class="list-item" ui-sref-active="active"><a ui-sref="rechargerecord.processlist">充值流程</a></li>
                <li ng-if="SysPermission.showCreditprocess()" class="list-item" ui-sref-active="active"><a ui-sref="rechargerecord.creditflow">授信流程</a></li>
                <li ng-if="SysPermission.showRefundflow()" class="list-item" ui-sref-active="active"><a ui-sref="rechargerecord.refundflow">退款流程</a></li>
            </ul>
            <div class="order-head-btn float-right d-flex">
            	<div class="num-text">
            		<b>{{per.RechargeCount}}</b> 条记录
            	</div>
            	<div class="btn-cont" ng-cloak ng-if="per.rechargerecord !== 'querylist' && showbtntext()">
            		<button type="button" class="btn btn-outline-info btn-sm" ng-click="showdialog()">
                        <i class="fa fa-plus"></i> {{showbtntext()}}
                    </button>            		
            	</div>
            	<div class="btn-cont" ng-cloak ng-if="per.rechargerecord == 'querylist'">
            		<button  type="button" ng-if="SysPermission.showExport()" class="btn btn-outline-info btn-sm" ng-click="importUserBalance()"> <i class="fa fa-cloud-download"></i> 导出</button>           		          		
            	</div>
            </div>
        </div>
        <div class="card-body order-body bg-fb">
			<ui-view></ui-view>
        </div>
    </div>
</div>