<div class="order-browse" >
    <div class="card">
        <div class="card-header clearfix" >                                
            <ul class="order-list-type d-flex float-left">
                <li ng-if="SysPermission.showTemplateList()" class="list-item" ui-sref-active="active"><a ui-sref="templateapply">模板申请列表</a></li>
                <li ng-if="SysPermission.showVoiceList()" class="list-item" ui-sref-active="active"><a ui-sref="templateVoice">语音审核列表</a></li>
                <li ng-if="SysPermission.showChainList()" class="list-item" ui-sref-active="active"><a ui-sref="templateChain">短链审核列表</a></li>
            </ul>
            <div class="order-head-btn float-right d-flex">
            	<div class="num-text">
            		<b>{{total}}</b> 条记录
            	</div>
            	<div class="btn-cont">
            		<button type="button" class="btn btn-outline-info btn-sm" ng-click="addtemplateApply()"> <i class="fa fa-plus"></i> 申请模板</button>
            	</div>
            </div>
        </div>
        <div class="card-body order-body bg-fb">
			<div class="user-list">
				<form class="table-form" ng-submit="searchtable()">
				  	<div class="d-flex">
					    <div class="form-group mr-1">
						    <label for="loginName">申请用户</label>
						    <input type="text" ng-model="searchdata.loginName" class="form-control" id="loginName">
					    </div>
					    <div class="form-group mr-1">
						    <label for="templateSms">内容</label>
						    <input type="text" ng-model="searchdata.templateSms" class="form-control" id="templateSms">
					    </div>
					    <div class="form-group mr-2">
						    <label for="inputState">审核状态</label>
						    <select id="inputState" ng-model="searchdata.review" class="form-control">
								<option value="">请选择</option>
								<option value="0">待审核</option>
								<option value="1">通过</option>
								<option value="2">拒绝</option>
						    </select>
					    </div>
					    <div class="form-group align-self-end">
					      	<button type="submit" class="btn btn-sm ensure mr-2">查询</button>
							<button type="button" class="btn btn-sm cancel" ng-click="resetFrom()">重置</button>
					    </div>
					</div>
			  	</form>
			  	<div class="table-responsive">
			  		<table class="table table-list table-hover">
						<thead>
						    <tr>
						      	<th scope="col">模板ID</th>
						      	<th scope="col">申请用户</th>
						      	<th scope="col">模板分类</th>
						      	<th scope="col">模板内容</th>
						      	<th scope="col">备注</th>
						      	<th scope="col">批注</th>
						      	<th scope="col">审核状态</th>
						      	<th scope="col">时间</th>
						      	<th scope="col">操作</th>
						    </tr>
						</thead>
						<tbody>
							<tr ng-if="tablelistdata.data.length == 0"><td colspan="9">暂无数据</td></tr>
						    <tr ng-if="tablelistdata.data.length > 0" ng-repeat="dataitem in tablelistdata.data">
							    <td>{{dataitem.templateId}}</td>
							    <td>{{dataitem.loginName}}</td>				    
							    <td>{{dataitem.templateType == 1?'行业短信':'广告营销'}}</td>
							    <td ng-bind-html="dataitem.templateSms" style="width: 25%;"></td>
							    <td>{{dataitem.remark}}</td>
							    <td>{{dataitem.auditMark}}</td>
							    <td>
							    	<span ng-class="dataitem.review == 0?'text-warning':(dataitem.review == 1?'text-success':'text-danger')">
							    		{{dataitem.review == 0?'待审核':(dataitem.review == 1?'通过':'拒绝')}}
							    	</span>							    	
							    </td>
							    <td>{{dataitem.createTime}}</td>
							    <td class="text-nowrap">
							    	<button type="button" ng-if="dataitem.review == 0 && SysPermission.templateAudit()" class="btn btn-outline-success btn-xs btn-oval" ng-click="auditing(dataitem)">审核</button>
							    	<button type="button" ng-if="dataitem.review != 0" class="btn btn-outline-info btn-xs btn-oval" ng-click="showDetail(dataitem)">查看</button>
							    	<button type="button" ng-if="per.currentuser == dataitem.loginName" class="btn btn-outline-danger btn-xs btn-oval" ng-click="deleteTemplate(dataitem)">删除</button>
							    </td>
							</tr>
						</tbody>
					</table>
					<div id="loading-container" ng-show="showloading == 0">
						<div class="spinner">
							<div class="spinner-container container1">
								<div class="circle1"></div>
								<div class="circle2"></div>
								<div class="circle3"></div>
								<div class="circle4"></div>
							</div>
							<div class="spinner-container container2">
								<div class="circle1"></div>
								<div class="circle2"></div>
								<div class="circle3"></div>
								<div class="circle4"></div>
							</div>
							<div class="spinner-container container3">
								<div class="circle1"></div>
								<div class="circle2"></div>
								<div class="circle3"></div>
								<div class="circle4"></div>
							</div>
						</div>
					</div>
			  	</div>
			  	<div class="common-page mt-2 p-2 d-flex justify-content-center">
			  		<ul class="pagination-sm mr-2" uib-pagination total-items="total" boundary-link-numbers="true" rotate="true" items-per-page="searchdata.pageSize" ng-model="searchdata.currentPage" max-size="8" boundary-links="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getTableList()"></ul> 
			  		<form class="btn-page-cont" ng-submit="getTableList()">
			  			<select class="btn-page-sel mr-2" ng-model="searchdata.pageSize" ng-change="searchtable()">
			  				<option value="10">10条/页</option>
			  				<option value="20">20条/页</option>
			  				<option value="30">30条/页</option>
			  			</select>
			  			跳至  <input class="btn-page-input ml-2" ng-model="searchdata.currentPage" max="{{numPages}}" type="number" ng-change="getTableList()"/> 页
			  		</form>
			  	</div>
			</div>
        </div>
    </div>
</div>