<div class="order-list">
   	<form class="table-form" ng-submit="searchTableList()">
	  	<div class="d-flex">
		    <div class="form-group mr-1">
				<label for="processstartdate">日期</label>
				<div class="input-group input-group-sm">
					<input def-laydate type="text" id="processstartdate" datetype="datetime" ng-model="searchdata.startDate" placeholder="请选择日期" class="layui-input form-control"/>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button"><i class="fa fa-clock-o fa-time-icon"></i></button>
					</div>
				</div>
		    </div>
		    <div class="form-group mr-1">
				<label for="processenddate">截止日期</label>
				<div class="input-group input-group-sm">
					<input def-laydate type="text" id="processenddate" datetype="datetime" ng-model="searchdata.endDate" placeholder="请选择日期" class="layui-input form-control"/>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button"><i class="fa fa-clock-o fa-time-icon"></i></button>
					</div>
				</div>
		    </div>
		    <div class="form-group mr-1">
		      	<label for="recharged">被充值用户</label>
		      	<input type="text" id="recharged" ng-model="searchdata.loginName" class="form-control">
		    </div>
		    <div class="form-group mr-2">
			    <label for="status">状态</label>
			    <select id="status" ng-model="searchdata.status" class="form-control">
			    	<option value="">请选择</option>
				    <!--<option value="0">未结束</option> -->
						<option value="1">未审核</option>
						<option value="2">已审核</option>
						<!--<option value="3">已充值</option> -->
						<option value="4">已驳回</option> 
			    </select>
		    </div>
		    <div class="form-group align-self-end">
		      	<button type="submit" class="btn btn-sm ensure mr-2">查询</button>
				<button type="button" class="btn btn-sm cancel" ng-click="resetForm()">重置</button>
		    </div>
		</div>
  	</form>
  	<div class="table-responsive">
  		<table class="table table-list table-hover">
			<thead>
			    <tr>
			      	<th scope="col">被充值用户</th>
			      	<th scope="col">扣款用户</th>
			      	<th scope="col">充值金额</th>
			      	<th scope="col">发起人</th>
			      	<th scope="col">提交时间</th>
			      	<th scope="col">流程状态</th>
			    </tr>
			</thead>
			<tbody>
				<tr ng-if="tablelistdata.data.length == 0"><td colspan="6">暂无数据</td></tr>
			    <tr ng-if="tablelistdata.data.length > 0" ng-repeat="dataitem in tablelistdata.data">
				    <td>{{dataitem.loginName}}</td>
				    <td>{{dataitem.fromUserName}}</td>				    
				    <td>{{dataitem.money}}</td>
				    <td>{{dataitem.createUser}}</td>
				    <td>{{dataitem.createTime | limitTo:19}}</td>
					<td>
						<span class="status-icon cursor-p not-pass" ng-if="dataitem.status == 1" ng-click="unaudited(dataitem)">
								未审核
						</span>
						<span class="status-icon cursor-p pass" ng-if="dataitem.status == 2" ng-click="unaudited(dataitem)">
								已审核
						</span>
						<span class="status-icon cursor-p" style="color: #f40000;border: 1px solid;" ng-if="dataitem.status == 4" ng-click="unaudited(dataitem)">
								已驳回
						</span>
						<span class="status-icon cursor-p have-credit" ng-if="dataitem.status == 3" ng-click="audited(dataitem)">
								已充值
						</span>
					</td>
			    </tr>
			</tbody>
		</table>
		<div id="loading-container" ng-show="showloading == 0">
							<div class="spinner">
								<div class="spinner-container container1">
								  <div class="circle1"></div>
								  <div class="circle2"></div>
								  <div class="circle3"></div>
								  <div class="circle4"></div>
								</div>
								<div class="spinner-container container2">
								  <div class="circle1"></div>
								  <div class="circle2"></div>
								  <div class="circle3"></div>
								  <div class="circle4"></div>
								</div>
								<div class="spinner-container container3">
								  <div class="circle1"></div>
								  <div class="circle2"></div>
								  <div class="circle3"></div>
								  <div class="circle4"></div>
								</div>
							</div>
						</div>
  	</div>
  	<div class="common-page mt-2 p-2 d-flex justify-content-center">
  		<ul class="pagination-sm mr-2" uib-pagination total-items="searchdata.total" boundary-link-numbers="true" rotate="true" items-per-page="searchdata.pageSize" ng-model="searchdata.currentPage" max-size="8" boundary-links="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getTableList()"></ul> 
  		<form class="btn-page-cont" ng-submit="getTableList()">
  			<select class="btn-page-sel mr-2" ng-model="searchdata.pageSize" ng-change="searchTableList()">
  				<option value="10">10条/页</option>
  				<option value="20">20条/页</option>
  				<option value="30">30条/页</option>
  			</select>
  			跳至  <input class="btn-page-input ml-2" ng-model="searchdata.currentPage" max="{{numPages}}" type="number" ng-change="getTableList()"/> 页
  		</form>
  	</div>
</div>